@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap');


 body {
       margin: 0;
       background-color: #111503f0;
       font-family: 'Zilla Slab', serif;
    }
    h3 {
       color: rgb(34,193,195);
       margin-top: auto;

    }
    h4 {
        color: #d5ec6a;
    }
    h5 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    p {
        color: darkorange;
    }
    .heading {
        padding: 10px;
        background-color: rgb(34,193,195);
        margin: 0;
    }
    .main {
        color: #e4f3f2f0;
        display: flex;
        flex-wrap: wrap;
    }
    .fileStyle {
        border: 1px solid rgb(34,193,195);
        padding: 20px;
        margin: 10px;
        flex: 1 0 28%;
    }
    .loopStyle {
        width: 50%;
    }
    .forLoopExample {
        text-align: center;
        color: #17c76f;
    }
    .loopWrapper {
        display: flex;
    }
      .footer {
        color: rgb(34,193,195);
        text-align: center;
    }
   @media only screen and (max-width: 600px) {
  .fileStyle {
    flex: 0 0 87%;
  }
}