body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

header,
main {
  overflow: auto;
}

.navbar {
  padding: 30px;
  background-color: #ffcc80;
}

#main-content {
  margin-top: 20px;
}

.article {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article h3 {
  color: #1a237e;
}

.article h5 {
  text-transform: capitalize;
}

.footer {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

button {
  padding: 5px 20px 5px 20px;
  width: 140px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}

button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}
