/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: red solid 2px; */
  font-family: "Exo";
  transition: 0.4s;
}

/* -------------------------------------------------------------------------- */
/*                                    PAGE                                    */
/* -------------------------------------------------------------------------- */
body {
  height: 100vh;
}

header {
  height: fit-content;
  color: color;
  border-bottom: lightgreen solid 5px;
  padding: 10px 30px;
}

#pageTitle {
  font-size: 45px;
  font-weight: bold;
}

main {
  flex-grow: 1;
  background-color: black;
  color: white;
  overflow: scroll;
  padding: 30px;
}

#accordion > * {
  background: black;
  border: 2px solid rgb(41, 41, 41);
}

.btn {
  color: lightgreen;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 500;
  letter-spacing: 12px;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-dark:focus,
.btn:focus {
  outline: 0;
  border: 0;
  box-shadow: none;
}

.btn-dark:hover,
.btn:hover {
  background-color: transparent;
}

.card {
  margin-bottom: -3px;
}

.card-header:hover {
  background-color: #23272b;
}

.collapse,
.collapsing {
  background-color: transparent;
  border-top: 2px solid lightgreen;
  padding: 10px;
}

footer {
  border-top: lightgreen solid 5px;
  padding: 10px 45px;
  color: black;
  height: 50px;
}

.footer-element {
  width: fit-content;
  padding: 0;
}

#footerRight {
  text-align: right;
}

h2 {
  margin-top: 45px;
}

h4 {
  margin-top: 25px;
}

p {
  margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
/*                                    BLOCK                                   */
/* -------------------------------------------------------------------------- */
.demo-title {
  font-weight: 600;
}

.demo-code {
  font-family: "Courier New", Courier, monospace;
  color: lightgreen;
  margin-bottom: 15px;
  margin-bottom: 0;
}

.result-code {
  color: rgb(75, 75, 75);
}

.code {
  font-family: "Courier New", Courier, monospace;
}

.content-block {
  margin-bottom: 30px;
}
